body{
    background: #F6F6EC;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
h1{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2rem;
}
.wrapper{
    color: #0075FF;
}
.wrapper:hover{
    color:black;
}
.block-meme{
    border-top: 2px solid #D8DEE4;
    padding: 1rem;
    display: block;
    cursor: pointer;
}
.title{
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1.3rem;
}
.img-block{
    margin-top: 1rem;
    text-align: center;
    display: none;
}
.img-block>img{
    width: 50%;
}

@media(max-width: 1920px){
    .container{
        width: 720px;
    }
}
@media(max-width: 820px){
    .container{
        width: 540px;
    }
}
@media(max-width: 320px){
    .container{
        width: 300px;
    }
}